.disable {
    list-style-type: none;
    width: 32px;
    height: 32px;
    color: #999999;
    border-radius: 2px;
    background-color: rgb(179, 179, 179);
    padding: 16px;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div_gameover{
    position: relative;
    height: fit-content;
    width: fit-content;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.div_palavra{
    display: grid;
    width: 700px;
    justify-content: center;
    text-align: start;
}
.inteface {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(237, 238, 255);
    padding: 8px;
    box-sizing: border-box;
}

.game {
    height: 100%;
    display: grid;
    grid-template-rows: 40px auto 200px;
    align-items: center;
}
.gameOver{
    width: 100%;
    height: 100%;
    background-color: #ffffffef;
    position: absolute;
    z-index: 4;
    display: none;
}
.forca_letras {
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
}

.letras_div {
    display: flex;
    gap: 4px;
    font-size: 2.6em;
    justify-content: center;
}

.letrasRow {
    display: flex;
    gap: 4px;
    margin: 4px;
    justify-content: center;
}

.letras_design {
    list-style-type: none;
    width: 32px;
    height: 32px;
    color: #fff;
    border-radius: 2px;
    background-color: black;
    padding: 16px;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.letras_design:hover {
    background-color: rgb(2, 176, 150);
    cursor: pointer;
    transition: 500ms;
    transform: translateY(-12px);
    z-index: 4;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.584);
}

.menu {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    background-color: #fff;
    align-items: center;
    padding: 6px;
}

.square_letras {
    background-color: rgb(255, 255, 255);
    width: 80px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FORCA */
.template_forca {
    font-size: 32px;
    display: grid;
    height: fit-content;
    grid-template-areas: "a8 a8 a8"
        "a1 a1 a1"
        "a2 a2 a2"
        "a3 a4 a5"
        "a6 vazio a7";
}

.item8 {
    grid-area: a8;
    display: none;
}

.item1 {
    grid-area: a1;
    display: none;
}

.item2 {
    grid-area: a2;
    display: none;
}

.item3 {
    grid-area: a3;
    display: none;
}

.item4 {
    grid-area: a4;
    display: none;
}

.item5 {
    grid-area: a5;
    display: none;
}

.item6 {
    grid-area: a6;
    display: none;
}

.item7 {
    grid-area: a7;
    display: none;
}