@keyframes none_display {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        display: none;
    }
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.load{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}
.loading_div {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 74, 243, 0.687);
    color: #fff;
}
.loading_div i{
    font-size: 60px;
    animation-name: rotate;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
}