.fundo_login_register{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(#005cfc97, #005cfcbd), url(../images/playstation-6689793_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.design_login{
    background-color: aliceblue;
    border-radius: 4px;
    padding: 12px;
    height: fit-content;
    position: relative;
    top: -100px;
    display: grid;
    gap: 32px;
}
.login{
    display: flex;
    justify-self: center;
}
