:root {
    --width_square_img: 240px;
}

body {
    background-color: rgb(237, 238, 255);
    user-select: none;
}
figcaption {
    font-size: 1.12em;
    color: rgb(112, 112, 112);
}

main {
    width: 100%;
    height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#team_div {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 26px;
}

.apre_grid {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 8px;
    box-sizing: border-box;
}

.button_arrow {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 12px;
    gap: 12px;
}

.button_arrow .circle {
    width: 60px;
    height: 60px;
    display: flex;
    background-color: #fff;
    border-radius: 100%;
    padding: 6px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    box-shadow: 2px 2px 6px #0000002e;
}

.button_iniciar_game {
    display: flex;
    justify-content: center;
}

.circle_img {
    width: var(--width_square_img);
    height: calc(var(--width_square_img) + 80px);
    border-radius: 12px;
}

.config {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.container_eq {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px;
    background-color: #fff;
    border-radius: 12px 12px 0px 0px;
}

.container_eq h4 {
    font-size: 1.4em;
    text-align: center;
    padding: 8px 0px 0px 0px;
}

.description h4 {
    font-size: 1.2em;
    padding: 4px 0px;
}

.description p {
    font-size: 1em;
    padding: 8px 0px;
}

.div_button_arrow {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.figure_design {
    text-align: center;
}

.fundo_background {
    background-image: linear-gradient(#3f31ff8e, #3f31ff9f, #3f31ffb7, rgba(63, 49, 255, 0.773)), url("../images/joysticks-6603119_1280.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 2em;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 12px;
    align-items: center;
}

.img_size {
    width: 276px;
}

.margin_p {
    margin: 0px 26px;
}

.section_initial {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 220px auto 60px;
    align-items: center;
}

.square {
    width: var(--width_square_img);
    margin-bottom: 16px;
}

.square .social {
    display: grid;
    gap: 6px;
}

.square .social .icon_txt {
    display: flex;
    gap: 4px;
}

.square h4 {
    font-size: 1em;
    margin: 6px 0px;
}