<!DOCTYPE html>
<html <%- include ('./partials/lang.ejs')%>>

<head>
    <%- include ('./partials/head.ejs')%>
        <%- include ('./partials/title.ejs')%>
            <%- include ('./partials/fontawesome.ejs')%>
</head>

<body onload="get()">
    <h1>A</h1>
    <div id="resultado">

    </div>

    <script defer>
        // ler dados
        async function get() {
            let resultado = document.querySelector("#resultado")
            const url = `/dificuldades_game`
            const response = await fetch(url);
            alert(response)
            const responseJson = await response.json();
            responseJson.forEach(element => {
                resultado.innerHTML += `<li>${element.nivel}</li>`
            });
        }
    </script>
</body>

</html>