<!DOCTYPE html>
<html <%- include ('./partials/lang.ejs')%>>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <link rel="stylesheet" href="./styles/loading.css"></link>
    <link rel="stylesheet" href="./styles/game.css">
    <%- include ('./partials/head.ejs')%>
        <%- include ('./partials/title.ejs')%>
            <%- include ('./partials/fontawesome.ejs')%>
</head>

<body onload="get()">
    <div id="tela_gameOver" class="gameOver">
        <div class="div_gameover">
            <div id="mensagem">
                <h1>Fim de jogo!</h1>
            </div>
            <button onclick="inicio()"><i class="fa-solid fa-house"></i>Finalizar</button>
        </div>
    </div>
    <div class="loading_div" style="display: block;">
        <div class="load">
            <i class="fa-solid fa-spinner"></i>
            <h4>Loading...</h4>
        </div>
    </div>
    <main class="inteface">
        <div class="game">
            <section class="menu">
                <div style="text-align: start;"><h2>Tentavivas restantes: <span id="tentativas"></span></h2></div>
                <div style="text-align: end;">Encerrar game</div>
            </section>
            <section class="forca_letras">
                <div class="template_forca">
                    <div class="item8" style="text-align: start; position: relative; left: -10px;">__</div>
                    <div class="item1" style="text-align: center;">|</div>
                    <div class="item2" style="text-align: center;">😶</div>
                    <div class="item4" style="text-align: center;">|</div>
                    <div class="item3" style="text-align: center;">/</div>
                    <div class="item5" style="text-align: center;">\</div>
                    <div class="item6" style="text-align: center;">/</div>
                    <div class="item7" style="text-align: center;">\</div>
                </div>
                <div class="div_palavra" style="text-align: center;">
                    <div class="letras_div">
                    </div>
                    <div style="max-width: fit-content;">
                        Dica: <span id="dica"></span>.
                    </div>
                </div>
            </section>
            <section>
                <div>
                    <div id="letrasRow1" class="letrasRow"></div>
                    <div id="letrasRow2" class="letrasRow"></div>
                    <div id="letrasRow3" class="letrasRow"></div>
                </div>
            </section>
        </div>
    </main>
    <script defer src="./scripts/letras_game.js"></script>
    <script defer src="./scripts/game.js"></script>
    <script>
        function inicio(){
            window.location.href = `/`
        }
    </script>
</body>

</html>